<p id="notice"><%= notice %></p>

<p>
  <strong>Url hash:</strong>
  <%= @thetum.url_hash %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @thetum.image_url %>
</p>

<%= link_to 'Edit', edit_thetum_path(@thetum) %> |
<%= link_to 'Back', theta_path %>
