<%= stylesheet_link_tag "theta" %>
<%= javascript_include_tag "OrbitControls" %>
<%= javascript_include_tag "Detector" %>
<%= javascript_include_tag "yanoo.client" %>
<%= javascript_include_tag "drawers" %>
<%= javascript_include_tag "theta" %>

<div id="sphere" data-image="<%= asset_path "1st_meeting.jpg" %>" data-width="800" data-height="500" data-id="2">
	<div class="control-buttons">
		<div class="control-button inline" id="toggle-edit-button">Edit</div>
		<div id="edit-controls" class="hidden">
			<div class="control-button mode-button" data-drawer="RedParticleDrawer">◉</div>
			<div class="control-button mode-button" data-drawer="GreenParticleDrawer">▲</div>
			<div class="control-button mode-button" data-drawer="RainbowParticleDrawer">☀</div>
			<div class="control-button mode-button" data-drawer="DelayedDrawer">☃</div>
			<!-- <div class="control-button mode-button" data-drawer="ImageDrawer">ピヨ</div> -->

			<div id="stroke-size-select">
				<input id="stroke-size-3" name="stroke-size" type="radio" value="3">
				<label for="stroke-size-3" style="cursor:pointer">大</label>
				<input id="stroke-size-2" name="stroke-size" type="radio" value="2" checked="checked">
				<label for="stroke-size-2" style="cursor:pointer">中</label>
				<input id="stroke-size-1" name="stroke-size" type="radio" value="1">
				<label for="stroke-size-1" style="cursor:pointer">小</label>
			</div>

		</div>
	</div>
</div>
