<%= stylesheet_link_tag "theta" %>
<%= javascript_include_tag "OrbitControls" %>
<%= javascript_include_tag "Detector" %>
<%= javascript_include_tag "yanoo.client" %>
<%= javascript_include_tag "drawers" %>
<%= javascript_include_tag "theta" %>
<div id="sphere" data-image="<%= asset_path "1st_meeting.jpg" %>" data-width="800" data-height="500" data-id="2">
	<div class="control-buttons">
		<div class="control-button" id="toggle-edit-button">Edit</div>
		<div class="control-button mode-button hidden" data-drawer="RedParticleDrawer">◉</div>
		<div class="control-button mode-button hidden" data-drawer="GreenParticleDrawer">▲</div>
		<div class="control-button mode-button hidden" data-drawer="RainbowParticleDrawer">☀</div>
		<div class="control-button mode-button hidden" data-drawer="DelayedDrawer">☃</div>
		<div class="control-button mode-button hidden" data-drawer="ImageDrawer">ピヨ</div>
	</div>
</div>
