<!DOCTYPE html>
<html>
<head>
  <title>ThetaDeOekaki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://threejs.org/build/three.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body style="padding: 0; margin: 0;">
<%= yield %>
</body>
</html>
